<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1IILzKoaNhBkIDXIoWazIFBIaXIjIjEM</string>
	<key>GCM_SENDER_ID</key>
	<string>457724897600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartParkingAppNew</string>
	<key>PROJECT_ID</key>
	<string>parkease-new</string>
	<key>STORAGE_BUCKET</key>
	<string>parkease-new.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457724897600:ios:3744ee46cbde1dd6daf2a5</string>
</dict>
</plist>